html, body {
    width: 100%;
    overflow-x: hidden;
}

body{
    background: linear-gradient(135deg,#fffefb 0%,#ededed 100%);
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: rgb(194, 194, 244);
}

.navbar-brand,
.nav-link{
    color:#040404 !important;
}

.nav-link.active{
    font-weight:700;
}